@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.logo {
  width: 72px;
  height: auto;
}

@screen md {
  .logo {
    width: 96px;
  }
}

.fullpage-viewport {
  min-height: 100vh;
  min-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.section {
  justify-content: center;
  align-items: center;
}

.slide-one {
  background-image: url('../public/static/images/slides/subway.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-two {
  background-image: url('../public/static/images/slides/train.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-three {
  background-image: url('../public/static/images/slides/android.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.fullpage-viewport {
  min-height: 100vh;
  min-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.section {
  justify-content: center;
  align-items: center;
}
