@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.logo {
  width: 72px;
  height: auto;
}

@screen md {
  .logo {
    width: 96px;
  }
}

/*///// INDEX PAGE /////*/

.fullpage-viewport {
  min-height: 100vh;
  min-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.section {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.slide-one {
  background-image: url('../public/static/images/slides/seattle-day.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0em 1em;
}

.slide-two {
  background-image: url('../public/static/images/slides/keyboard-black.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-three {
  background-image: url('../public/static/images/slides/android.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Iam {
  padding: 2em 2em;
  font: normal 40px/50px Vollkorn, serif;
  color: #fff;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}

/* Fixes text-wrapping on phone screens */
@media (max-width: 480px) {
  .Iam p {
    min-height: 95px;
  }
}

.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 1px;
}
.Iam .innerIam {
  display: inline-block;
  color: #de1102;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation: move 5s;
  -moz-animation: move 5s;
  -ms-animation: move 5s;
  -o-animation: move 5s;
  animation: move 7s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -100px;
  }
  65% {
    top: -150px;
  }
  85% {
    top: -200px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
